## Notebook - 3 - SQL Server

In [1]:
USE kudvenkatdb_master;

In [17]:
SELECT * FROM tblEmployee;
SELECT * FROM tblAudit;

-- INSERT INTO tblEmployee VALUES ('Ben', 'Male',4800,'London')

ID,Name,Gender,Salary,City
104,Todd,Male,2800,Sydney
102,John,Male,3500,London
100,Tom,Male,4000,London
103,Sam,Male,4500,London
110,Ben,Male,4800,London
108,James,Male,6500,London
105,Ben,Male,7000,New York
109,Russell,Male,8800,London
101,Pam,Female,3000,New York
106,Sara,Female,4800,Sydney
107,Valarie,Female,5500,New York

Id,AuditData
1,New Employee added with Id = 110 at Jan 15 2024 12:50AM

In [11]:
CREATE table tblAudit(
    Id INT IDENTITY(1,1) PRIMARY KEY,
    AuditData NVARCHAR(255)
);

In [14]:
CREATE TRIGGER tr_tblEmployee_ForInsert
ON tblEmployee
FOR INSERT
AS
BEGIN
    DECLARE @Id INT
    SELECT @Id = Id FROM inserted

    INSERT into tblAudit
    VALUES ('New Employee added with Id = '+CAST(@Id as nvarchar(5)) + ' at ' + CAST(GETDATE() as nvarchar(20)))
END