- ## Notebook 2 - Sql Server

## Topics Covered in this notebook
    1. Mostly used Built in string functions in sql server

In [2]:
Use kudvenkatdb_master;

## Mostly used Built in string functions in sql server

```
1. ASCII(Character_Expression) - Returns the ASCII code of the given character.
2. CHAR(Integer_Expression)  - Converts an int ASCII code to a character. The Integer_Expression, should be between 0 and 255.
3. LTRIM(Character_Expression) - Removes blank on the left handside of the given character expression.
4. RTRIM(Character_Expression) - Removes blank on the right handside of the given character expression.
5. LOWER(Character_Expression) - Converts all the characters in the given Character_Expression, to lowercase letters.
6. UPPER(Character_Expression) - Converts all the characters in the given Character_Expression, to uppercase letters.
7. REVERSE('Any_String_Expression') - Reverse all the characters in the given string expression.
8. LEN(String_Expression) - Returns the count of total characters, in the given string expression, excluding the blanks at the end of the expression.
8. LEFT(string,no_of_chars) - The LEFT() function extracts a number of characters from a string (starting from left).

```

In [16]:
SELECT ASCII('A')

SELECT CHAR(65)

DECLARE @Start INT, @Result NVARCHAR(100)
Set @Start = 65
SET @Result = ''
WHILE (@Start <= 90)
BEGIN
    SET @Result = @Result +  CHAR(@Start) + ', '
    SET @Start = @Start + 1
END
SET @Result = LEFT(@Result,LEN(@Result)-1)
PRINT @Result