# SQL SERVER

### Creating, altering and dropping database

In [ ]:
CREATE DATABASE KUDVENKAT;

In [ ]:
ALTER DATABASE KUDVENKAT MODIFY Name = KudvenkatDb

### Rename database using stored procedure...

In [ ]:
-- sp_renameDB '<oldDbName>', '<newDbName>';
sp_renameDB 'KudvenkatDb', 'KudvenkatDb_Master';

In [1]:
USE KudvenkatDb_Master;

## Get the list of tables exist in the database...

In [3]:
SELECT table_name, table_schema, table_type
FROM information_schema.tables
ORDER BY table_name ASC;

table_name,table_schema,table_type
tblGender,dbo,BASE TABLE
tblPerson,dbo,BASE TABLE

## Drop a database...

In [ ]:
-- DROP DATABASE KudvenkatDb_Master;

## Creating and working with tables

In [ ]:
CREATE TABLE tblGender(
    ID INT NOT NULL PRIMARY KEY,
    Gender NVARCHAR(50) NOT NULL
);

In [ ]:
CREATE TABLE tblPerson(
    ID INT NOT NULL PRIMARY KEY,
    Name NVARCHAR(50) NOT NULL,
    Email NVARCHAR(50) NOT NULL,
    GenderID int NULL,
    Age int NULL
);

## Drop tables...

In [ ]:
DROP TABLE tblPerson;
DROP TABLE tblGender;

## Insert data...

In [ ]:
INSERT INTO tblGender (ID, Gender) VALUES 
            (1, 'Male'),
            (2,'Female'),
            (3, 'Unknown')

In [ ]:
INSERT INTO tblPerson (ID, Name, Email, GenderID) VALUES
            (1, 'Jade','j@j.com',2),
            (2,'Mary','m@m.com',3),
            (3,'Martin','ma@ma.com',1),
            (4,'Rob','r@r.com',NULL),
            (5,'May','may@may.com',2),
            (7,'Rich','ri@ri.com',2),
            (8,'Mike','mi@mi.com',NULL)

## Fetch data...

In [ ]:
SELECT * FROM tblGender;
SELECT * FROM tblPerson;

## Truncate tables...

In [ ]:
TRUNCATE TABLE tblPerson;

In [ ]:
TRUNCATE TABLE tblGender;

## Create Foreign Key - constraint

In [ ]:
ALTER TABLE tblPerson ADD CONSTRAINT tblPerson_GenderID_FK FOREIGN KEY (GenderID) REFERENCES tblGender(ID);

## Create default constraint

In [ ]:
-- if value for the GenderID column is not provided then insert the default value "3" in the GenderID
ALTER TABLE tblPerson ADD CONSTRAINT DF_tblPerson_GenderID DEFAULT 3 FOR GenderID;

## Drop Constraint

In [ ]:
-- ALTER table <table_name> DROP <CONSTRAINT_NAME>;

## Cascading referential integrity
* This constraint allows to define the actions MicrosoftSQL Server should take when a user attemps to delte or update a key to which an existing foreign keys points.
-  For example, if you delete row with ID =1 from tblGender table, then row with ID = 3 form tblPerson table becomens an opphan record. You will not be able to tell the Gender for this row. So, Cascading referential integrity constraint can be used to define actions MicrosoftSQL Server should take when this happerns. By default, we get an error and the DELETE or UPDATE statement is rolled back.

### Options when setting up Cascading referential integrity constraint:
    1. No Action: This is the defautl behaviour. It specifies that if an attempt is amde to delete or update a row with the key referenced by foreign keys in existing rows in other tables, an error is raised and the DELETE or UPDATE is rolled back...
    2. Cascade: Specifies that if an attempt is made to delete or update a row with a key referenced by foreign keys in existing rows in other tables, all rows containing those foreign keys are also deleted or updated...
    3. Set NULL: Specifies that if an attempt is made to delete or update a row with a key referenced by foreign keys in existing rows in other tables, all rows containing those foreign keys are set to NULL...
    4. Set Default: Specifies that if an attempt is made to delete or update a row with a key referenced by foreign keys in existing rows in other tables, all rows containing those foreign keys are set to default values...

In [ ]:
ALTER TABLE tblPerson ADD CONSTRAINT tblPerson_GenderID_FK FOREIGN KEY (GenderID) REFERENCES tblGender(ID) ON DELETE CASCADE ON UPDATE SET NULL;

## Check constraint
    * It is used to limit the range of the values, that can be entered for a column...
    * If the column is nullable, It is possible to pass null for the column, when you will pass the value as NULL, the boolean expression evaluates to UNKNOWN, and allows the value i.e., then it will not give an error because NULL will be cosnidered as unknown, hence It will insert the NULL VALUE...

In [ ]:
-- ALTER TABLE <table_name> ADD CONSTRAINT <CONSTRAINT_NAME> CHECK <BOOLEAN_EXPRESSION
ALTER Table tblPerson ADD CONSTRAINT Chk_tblPerson_Age CHECK (AGE > 0 AND AGE < 150);

## Identity Column
- IDENTITY(increment_seed, increment_value)
- If a column is marked as an identity column, then the values for this column are automatically generated, when you insert a new row into the table...

- To Explicitly supply a value for identity column:
    1. First turn on identity insert -> SET identity_insert <table_name> ON
    2. In the insert query specifiy the column list - Insert into table_name (col1, col2,....) Values (Val1,Val2,...)

- If you have deleted all the rows in a table, and you want to reset the identity column value, user "DBCC CHECKIDENT('<table_name>',RESEED,0)

| DBCC - Database Consistancy Check

## Get the last generated identity column value in SQL Server

    Two ways to  achieve the above:
    1. The most common wat is to use SCOPE_IDENTITY() built in function...
    2. You can use @@IDENTITY
    3. IDENT_CURRENT('<table_name>')

    DIFFERENCE
    - SCOPE_IDENTITY() -> Same session and the same scope
    - @@IDENTITY -> Same session and across any scope
    - IDENT_CURRENT('<table_name>') -> Specifies table across any session and any scope

In [ ]:
CREATE TABLE Test1(
    Id int IDENTITY PRIMARY KEY,
    Name NVARCHAR(50)
);

CREATE TABLE Test2(
    Id int IDENTITY PRIMARY KEY,
    Name NVARCHAR(50)
);

In [ ]:
SELECT * FROM Test1;
SELECT * FROM Test2;

In [ ]:
INSERT INTO Test1 VALUES ('AAAAA1')
INSERT INTO Test2 VALUES ('AAAAA2')

In [ ]:
SELECT SCOPE_IDENTITY();
SELECT @@IDENTITY;
SELECT IDENT_CURRENT('Test2');

## Unique key constraint
    - We use UNIQUE constraint to enforce uniqueness of a column i.e., the column shouldn't allow any duplicate values. We can add a Unique constraint through the designer or using a query.
    
    - To create the unique key using a query:
        Alter Table <Table_name>
        Add Constraint <Constraint_name> Unique(Column_name);

    DIFFERENCE B/W PRIMARY KEY AND UNIQUE KEY CONSTRAINT
    1. A table can can have only one primary key, but more than one Unique key
    2. Primary key does not allow nulls, where as unique key allows one null

In [ ]:
ALTER TABLE tblPerson
ADD CONSTRAINT UK_tblPerson_Email UNIQUE(Email)

## Select statement

    Operators and Wild Cards
    ----------------------------------------------
    Operator     |     Purpose
    ----------------------------------------------
    =            |     Equal to
    != or <>     |     Not equal to
    >            |     Greater than
    >=           |     Greater than or equal to
    <            |     Less than 
    <=           |     Less than or equal to
    IN           |     Specify a list of values
    BETWEEN      |     Specify a range
    LIKE         |     Specify a pattern
    NOT          |     Not in a list, range etc...
    %            |     Specifies zero or more characters
    -            |     Specifies exactly one characters
    []           |     Any character with in the brackets
    [^]          |     Not any character with in the brackets

In [ ]:
SELECT DISTINCT Name,GenderID FROM tblPerson;
SELECT * FROM tblPerson WHERE GenderID <> 1;
SELECT * FROM tblPerson WHERE GenderID IN(2,3,5);

-- Select all the records whose name starts with any specific character
SELECT * FROM tblPerson WHERE Name LIKE 'R%';

-- Email validation... which contains @ in the email
SELECT * FROM tblPerson WHERE Email LIKE '%@%';

-- Fetch all the records where email contains 1 character before @ and one character after @
SELECT * FROM tblPerson WHERE Email LIKE '_@_.com';

-- Select the records where name starts with the Either M, S, or T
SELECT * FROM tblPerson WHERE Name LIKE '[MST]%';

In [ ]:

-- Order by for sorting | default order is ascending
SELECT * FROM tblPerson ORDER BY Name DESC, Age ASC;

SELECT TOP 10 * FROM tblPerson;

-- Select the record whose age is oldest...
SELECT TOP 1 * FROM tblPerson ORDER BY Age DESC;