# SQL SERVER

### Creating, altering and dropping database

In [ ]:
CREATE DATABASE KUDVENKAT;

In [ ]:
ALTER DATABASE KUDVENKAT MODIFY Name = KudvenkatDb

### Rename database using stored procedure...

In [ ]:
-- sp_renameDB '<oldDbName>', '<newDbName>';
sp_renameDB 'KudvenkatDb', 'KudvenkatDb_Master';

In [ ]:
USE KudvenkatDb_Master;

## Get the list of tables exist in the database...

In [ ]:
SELECT table_name, table_schema, table_type
FROM information_schema.tables
ORDER BY table_name ASC;

## Drop a database...

In [ ]:
-- DROP DATABASE KudvenkatDb_Master;

## Creating and working with tables

In [ ]:
CREATE TABLE tblGender(
    ID INT NOT NULL PRIMARY KEY,
    Gender NVARCHAR(50) NOT NULL
);

In [ ]:
CREATE TABLE tblPerson(
    ID INT NOT NULL PRIMARY KEY,
    Name NVARCHAR(50) NOT NULL,
    Email NVARCHAR(50) NOT NULL,
    GenderID int NULL,
    Age int NULL
);

## Drop tables...

In [ ]:
DROP TABLE tblPerson;
DROP TABLE tblGender;

## Insert data...

In [ ]:
INSERT INTO tblGender (ID, Gender) VALUES 
            (1, 'Male'),
            (2,'Female'),
            (3, 'Unknown')

In [ ]:
INSERT INTO tblPerson (ID, Name, Email, GenderID) VALUES
            (1, 'Jade','j@j.com',2),
            (2,'Mary','m@m.com',3),
            (3,'Martin','ma@ma.com',1),
            (4,'Rob','r@r.com',NULL),
            (5,'May','may@may.com',2),
            (7,'Rich','ri@ri.com',2),
            (8,'Mike','mi@mi.com',NULL)

## Fetch data...

In [ ]:
SELECT * FROM tblGender;
SELECT * FROM tblPerson;

## Truncate tables...

In [ ]:
TRUNCATE TABLE tblPerson;

In [ ]:
TRUNCATE TABLE tblGender;

## Create Foreign Key - constraint

In [ ]:
ALTER TABLE tblPerson ADD CONSTRAINT tblPerson_GenderID_FK FOREIGN KEY (GenderID) REFERENCES tblGender(ID);

## Create default constraint

In [ ]:
-- if value for the GenderID column is not provided then insert the default value "3" in the GenderID
ALTER TABLE tblPerson ADD CONSTRAINT DF_tblPerson_GenderID DEFAULT 3 FOR GenderID;

## Drop Constraint

In [ ]:
-- ALTER table <table_name> DROP <CONSTRAINT_NAME>;

## Cascading referential integrity
* This constraint allows to define the actions MicrosoftSQL Server should take when a user attemps to delte or update a key to which an existing foreign keys points.
-  For example, if you delete row with ID =1 from tblGender table, then row with ID = 3 form tblPerson table becomens an opphan record. You will not be able to tell the Gender for this row. So, Cascading referential integrity constraint can be used to define actions MicrosoftSQL Server should take when this happerns. By default, we get an error and the DELETE or UPDATE statement is rolled back.

### Options when setting up Cascading referential integrity constraint:
    1. No Action: This is the defautl behaviour. It specifies that if an attempt is amde to delete or update a row with the key referenced by foreign keys in existing rows in other tables, an error is raised and the DELETE or UPDATE is rolled back...
    2. Cascade: Specifies that if an attempt is made to delete or update a row with a key referenced by foreign keys in existing rows in other tables, all rows containing those foreign keys are also deleted or updated...
    3. Set NULL: Specifies that if an attempt is made to delete or update a row with a key referenced by foreign keys in existing rows in other tables, all rows containing those foreign keys are set to NULL...
    4. Set Default: Specifies that if an attempt is made to delete or update a row with a key referenced by foreign keys in existing rows in other tables, all rows containing those foreign keys are set to default values...

In [ ]:
ALTER TABLE tblPerson ADD CONSTRAINT tblPerson_GenderID_FK FOREIGN KEY (GenderID) REFERENCES tblGender(ID) ON DELETE CASCADE ON UPDATE SET NULL;

## Check constraint
    * It is used to limit the range of the values, that can be entered for a column...
    * If the column is nullable, It is possible to pass null for the column, when you will pass the value as NULL, the boolean expression evaluates to UNKNOWN, and allows the value i.e., then it will not give an error because NULL will be cosnidered as unknown, hence It will insert the NULL VALUE...

In [ ]:
-- ALTER TABLE <table_name> ADD CONSTRAINT <CONSTRAINT_NAME> CHECK <BOOLEAN_EXPRESSION
ALTER Table tblPerson ADD CONSTRAINT Chk_tblPerson_Age CHECK (AGE > 0 AND AGE < 150);